<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<script>
    $(".btn").click(function()){
        $.ajax({
            beforeSend: function(request){
                request.setRequestHeader("Authorization", 'Bearer ' + jwtValue);
            },
            dataType: "json",
            url : 'http://localhost:8080/notes/all',
            success: function(arr) {
                console.log(arr);
            }
        });
    }
</script>
</body>
</html>